.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 10px solid yellow; */
  height: 100%;
  width: 100%;
}

.form {
  width: 30%;
  height: 83vh;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  gap: 1.5vw;
  padding: 1vw;
  background-color: #d3dff7;
  border-radius: 6px;
  color: #4a41ed;
  /* border: 1px solid red; */
}

.form-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-header > p {
  font-size: 1.5vw;
  text-align: center;
  padding: 0.2vw;
  color: #4a41ed;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.input-container > label {
  font-size: 1.25vw;
}

.input-container > input {
  padding: 0.8vw;
  font-size: 1.09vw;
  border-radius: 4px;
  color: black;
  border-style: none;
  transition-duration: 1s;
}

.input-container > input:focus::placeholder {
  color: #8e89f1;
  transition-duration: 0.2s;
}

.input-container > input:focus {
  outline: none;
}

.input-container > textarea {
  border-style: none;
  border-radius: 4px;
  padding: 0.7vw;
  font-size: 0.9vw;
}

.input-container > textarea:focus {
  outline: none;
}

.submit-btn {
  padding: 1vw;
  border-radius: 6px;
  border-style: none;
  background-color: white;
  font-size: 1.2vw;
  cursor: pointer;
  width: 50%;
  transition-duration: 0.5s;

  color: #4a41ed;
}

.submit-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}

.submit-btn:hover {
  background-color: #8e89f1;
  transition-duration: 0.6s;
  color: white;
}

.form-close-btn {
  font-size: 1.1vw;
  padding: 0.5vw;
  border-style: none;
  border-radius: 4px;
  cursor: pointer;
  transition-duration: 0.5s;
  color: #4a41ed;
}

.form-close-btn:hover {
  background-color: #8e89f1;
  transition-duration: 0.6s;
  color: white;
}

@media screen and (max-width: 600px) {
  .form-container {
    height: 75%;
    /* background-color: aqua; */
  }

  .form {
    height: 100%;
    width: 90%;
    gap: 7vw;
    padding: 2vw;
  }

  .form-header {
    /* border: 1px solid blue; */
    justify-content: space-around;
    gap: 35vw;
  }

  .form-header > p {
    font-size: 6.5vw;
    /* border: 1px solid red; */
  }

  .form-close-btn {
    font-size: 5vw;
  }

  .input-container {
    /* border: 1px solid blue; */
    gap: 4vw;
  }

  .input-container > label {
    font-size: 6vw;
  }

  .input-container > input {
    font-size: 4vw;
    padding: 3.5vw;
  }

  .input-container > textarea {
    font-size: 4vw;
  }

  .submit-btn {
    font-size: 5vw;
    width: 85%;
    padding: 3vw;
  }
}
