.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  gap: 1vw;
  /* border: 1px solid green; */
}

.image {
  height: 50px;
  width: 50px;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.para {
  font-size: 1.2vw;
}

@media screen and (max-width: 600px) {
  .logo-container {
    display: none;
  }
}
