.notes {
  height: 95%;
  width: 35%;
  background-color: white;
  border-radius: 20px;
  /* border: 1px solid red; */
}

.num-notes-info {
  display: flex;

  align-items: center;
  /* justify-content: space-evenly; */

  /* background-color: aliceblue; */
  padding: 0.6vw;
  /* border: 1px solid blue; */
  font-size: 1.2vw;
  gap: 4vw;
}

.num-notes-count {
  text-align: center;
  width: 7vw;
  font-size: 1vw;
  color: #6260ff;
  font-weight: 600;
}

.notes-icon-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;

  width: calc(100% - 7vw);
}

.drop-down {
  height: 3vh;
  width: 3vw;
  cursor: pointer;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;

  transition-duration: 1s;
  /* background-color: #86adff; */
}

.active-drop-down {
  transform: rotate(180deg);
  color: #6260ff;
  transition-duration: 1s;
}

.option-container {
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition-duration: 0.5s;
  padding: 0.2vw;
}

.active-option-container {
  opacity: 1;
  transition-duration: 1s;
}

.options-btn-container {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  gap: 0.4vw;
}

.options-btn {
  padding: 0.6vw;
  background: transparent;
  border-style: none;
  border-radius: 4px;
  cursor: pointer;
  transform: scale(0);
  transition-duration: 1s;
  width: 100%;
  text-align: start;
  font-size: 1vw;
}

.active-options-btn {
  transform: scale(1);
  transition-duration: 0.9s;
  background-color: #e8edff;
}

.options-btn:hover {
  background-color: #86adff;
  color: white;
}

@media screen and (max-width: 600px) {
  .notes {
    width: 100%;
    border: 1px solid red;
  }

  .num-notes-count {
    /* border: 1px solid green; */
    font-size: 4vw;
    width: 25%;
  }

  .options-btn-container {
    /* border: 1px solid orange; */
    gap: 2vw;
  }

  .notes-icon-container {
    /* border: 1px solid salmon; */
    justify-content: space-between;
    width: 75%;
  }

  .drop-down {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5vh;
    width: 2.5vw;

    /* border: 1px solid blue; */
    width: 100%;
  }

  .options-btn {
    font-size: 4.3vw;
    padding: 1vw;
    font-weight: lighter;
  }
}
