.notes {
  height: 95%;
  width: 35%;
  background-color: white;
  border-radius: 20px;
}

.num-notes {
  display: flex;
  align-items: start;
  /* justify-content: space-around; */
  /* background-color: aliceblue; */
  padding: 0.6vw;
  /* border: 1px solid blue; */
  font-size: 1.2vw;
  gap: 8vw;
}

.notes-icon-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 0.5vw;
  /* border: 1px solid red; */
}

.drop-down {
  height: 4vh;
  width: 4vw;
  cursor: pointer;
  color: black;
  transition-duration: 1s;
}

.active-drop-down {
  transform: rotate(180deg);
  color: #8da6ff;
  transition-duration: 1s;
}

.option-container {
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition-duration: 0.5s;
  padding: 0.2vw;
}

.active-option-container {
  opacity: 1;
  transition-duration: 1s;
}

.options-btn-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 0.4vw;
}

.options-btn {
  padding: 0.6vw;
  background: transparent;
  border-style: none;
  border-radius: 4px;
  cursor: pointer;
  transform: scale(0);
  transition-duration: 1s;
  width: 100%;
  text-align: start;
  font-size: 1vw;
}

.active-options-btn {
  transform: scale(1);
  transition-duration: 1s;
  background-color: #e8edff;
}

.options-btn:hover {
  background-color: #86adff;
  color: white;
}

@media screen and (max-width: 600px) {
  .notes {
    width: 100%;
  }
}
