.header {
  background-color: white;
  height: 35px;
  display: flex;
  align-items: center;
  width: 90%;
  gap: 21vw;
  padding: 1.2vw;
  border-radius: 6px;
}

@media screen and (max-width: 600px) {
  .header {
    display: flex;
    align-items: center;
    gap: 4vw;
    padding: 3.5vw;
    background-color: white;
  }
}
