.notes-card {
  background-color: #e1ebfb;
  /* background-color: #dae2f1; */

  /* background-color: rgb(227, 244, 250); */

  width: 95%;
  display: flex;
  align-items: center;
  border-radius: 8px;

  /* justify-content: space-around; */
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 40%;
  /* border: 1px solid blue; */
  height: 100%;
}
.card-image-container {
  height: 40%;
  width: 50%;
  /* border: 1px solid red; */
}

.notes-image {
  height: 100%;
  width: 100%;
  background-size: contain;
  border-radius: 10px;
}

.notes-main-content-container {
  /* border: 1px solid green; */
  width: 60%;
  display: flex;
  flex-direction: column;
}

.notes-main-content {
  display: flex;
  flex-direction: column;

  /* border: 1px solid orange; */
}

.notes-sub-content-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.2vw;
  /* border: 1px solid gold; */
}

.date-time-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid blue; */
  width: 50%;
  color: rgb(104, 100, 100);
}

.options-icon-container {
  /* border: 1px solid brown; */
  height: 100%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.notes-title {
  /* border: 1px solid yellow; */
  width: 90%;
  padding: 0.1vw;
  text-align: start;
  font-size: 1.2vw;
  color: blue;
  color: black;
}

.notes-sub-title {
  /* border: 1px solid cyan; */
  width: 90%;
  padding: 0.1vw;
  text-align: start;
  font-size: 1vw;
  color: rgb(96, 94, 94);
  font-weight: 700;
}

.notes-paragraph {
  width: 90%;
  padding: 0.2vw;
  text-align: start;
  overflow: scroll;
  height: 7.5vh;
  background-color: white;
  border-radius: 4px;
  font-size: 0.97vw;
  font-weight: 500;
}

.notes-paragraph::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}

.notes-text-container {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;

  justify-content: start;
}

.span-data {
  font-size: 0.8vw;
}

.notes-icon {
  width: 1.2vw;
  height: 2.3vh;
  color: rgb(91, 143, 240);
  transition-duration: 0.6s;
}

.notes-icon-active {
  color: rgb(0, 0, 255);
  transition-duration: 0.6s;
}

.button-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-style: none;
  cursor: pointer;
}

.button-disabled {
  cursor: not-allowed;
}

.delete-icon {
  cursor: pointer;
  width: 1.2vw;
  height: 2.3vh;
  color: rgb(91, 143, 240);
  /* border: 1px solid red; */
}

.delete-icon:hover {
  color: blue;
}

.edit-icon {
  cursor: pointer;
  width: 1.2vw;
  height: 2.1vh;
  color: rgb(91, 143, 240);
}

.edit-icon:hover {
  color: blue;
}

@media screen and (max-width: 600px) {
  .notes-title {
    /* border: 1px solid red; */
    font-size: 4.5vw;
  }

  .notes-sub-title {
    font-size: 4vw;
  }

  .delete-icon {
    height: 3vh;
    width: 3.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .notes-paragraph {
    font-size: 3.5vw;
    padding: 0.5vw;
  }

  .span-data {
    font-size: 2.5vw;
  }

  .notes-icon {
    height: 3.5vh;
    width: 3.5vw;
  }

  .edit-icon {
    height: 3.5vh;
    width: 3.5vw;
  }
}
